.layout {
    display: flex;
    height: 78vh;
    background: grey;
}

.sidebar {
    width: 200px;
    background: grey;
    padding: 20px;
}

.outlet-content {
    flex: 1;
    padding: 20px; 
    background: darkslategray;
    overflow-y: auto;
}