.login-container {
    padding: 50px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    gap: 10px;
}

.input-login {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-login {
    padding: 10px;
    cursor: pointer;
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.button-login:hover {
    background-color: #1a1a1a;
}

.error-message {
    color: red;
    margin-top: 15px;
    font-weight: 500;
}